<!DOCTYPE html>
<html lang="jp">

<head>
    <!--    ページ内設定  -->
    <meta charset="utf-8">
    <title>PushTimer | home</title>
    <meta name="description" content="プッシュ通知で知らせてくれるタイマーアプリです。">
    <link rel="shortcut icon" href="image/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    SNSでの表示設定    -->
    <meta property="og:title" content="PushTimer | トップ">
    <meta property="og:site_name" content="PushTimer">
    <meta property="og:description" content="あなたの予定、プッシュ通知で知らせます。">
    <meta property="og:type" content="website">
    <!-- <meta propetry="og:url" content="http://monomonosu.com/"> -->
    <!-- <meta property="og:image" content="https://images.unsplash.com/photo-1554721378-4a20bd10c751?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=966&q=80"> -->
    <!--  Twitter  -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@MONOMONOSU">

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.css" />

    <!-- Load fontawesome -->
    <!-- link href="./css/all.css" rel="stylesheet" -->
    <!--load all styles -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- push.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.12/push.min.js"></script>

    <!-- googleアドセンス -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3267778982788972"
        crossorigin="anonymous"></script>


    <!-- bootstrap vue インポート -->
    <!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" /> -->
    <!-- Load polyfills to support older browsers -->
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script> -->
    <!-- Load Vue followed by BootstrapVue -->
    <!-- <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script> -->
    <!-- Load the following for BootstrapVueIcons support -->
    <!-- <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script> -->

    <!--    CSSのロード    -->
    <!-- <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="responsive-common.css">
    <link rel="stylesheet" href="responsive-home.css"> -->
    <!--    <link rel="stylesheet" href="responsive.css">-->
</head>

<body>
    <style>
        body {
            background-color: #17A2B8;
            color: black;
        }
    </style>
    <div id="app">
        <template>
            <div>
                <b-navbar type="dark" variant="dark">
                    <b-navbar-nav class="mr-auto">
                        <b-nav-item href="#"><img src="image/favicon.ico" width="32px" height="32px"></b-nav-item>
                        <h1 style="color: beige;">PushTimer</h1>
                    </b-navbar-nav>

                    <b-navbar-nav class="ml-auto">
                        <!-- <b-nav-item href="#">Home</b-nav-item> -->
                        <b-nav-item @click="$bvModal.show('modal-guide')">guide</b-nav-item>
                        <b-modal id="modal-guide" hide-footer size="lg">
                            <template #modal-title>
                                使い方
                            </template>
                            <div>
                                <p>指定した時間にPush通知でお知らせするタイマーです。<br><br>
                                    <b-img src="image/permission.png" fluid alt="Responsive image"></b-img><br><br>
                                    ①このサイトからの通知をオンにする<br>
                                    サイトからの通知を許可する必要があります。<br>
                                    初めてのご利用の際、「ブッシュテスト」ボタンを押すと「次の許可を求めています」という表示が出てくるので「許可」してください。<br>
                                    また、ブラウザの設定を変更する事でサイトからの通知を許可する事もできます。<br>
                                    通知許可を設定から変更する場合、後に記述の通知許可設定手順をお読みください。<br><br>
                                    ②通知内容をご入力下さい<br>
                                    プッシュ内容欄のタイトル・メッセージ・通知時間をご入力して下さい。<br>
                                    タイトル・メッセージはpush通知時に表示される内容となります。<br>
                                    通知時間は分単位となります。<br>
                                    入力後submitボタンを押して下さい。<br><br>
                                    ③時間になったらpush通知でお知らせします<br>
                                    このページから離れてしまうとpush通知が届かないので、ページは開いたままでお待ち下さい。<br>
                                    通知時間になったらpush通知でお知らせします。<br><br><br>
                                    [通知許可設定手順]<br><br>
                                    <b-img src="image/permission_setting.png" fluid alt="Responsive image"></b-img>
                                    <br><br>
                                    ①URL左のアイコンをクリックし、「サイトの設定」をクリック<br><br>
                                    <b-img src="image/permission_setting2.png" fluid alt="Responsive image"></b-img>
                                    <br><br>
                                    ②[プライバシーとセキュリティ]→[権限]の中の「通知」を許可に設定する。
                                </p>
                            </div>
                        </b-modal>
                        <b-nav-item @click="$bvModal.show('modal-note')">note</b-nav-item>
                        <b-modal id="modal-note" hide-footer size="lg">
                            <template #modal-title>
                                注意事項
                            </template>
                            <div>
                                <p>以下は注意事項となります<br><br>
                                    ・PC版のGoogleChrome,Firefox,MicrosoftEdgeのみで動作します。<br>
                                    ・このページから離れてしまうとpush通知が行われなくなるので、ページは開きっぱなしでお願いします。<br>
                                    ・当アプリを使用した事によるトラブルに関しましては責任を負いかねますのでご了承お願いいたします。<br>
                                    ・質問等ございましたら<a
                                        href="https://twitter.com/MONOMONOSU">Twitter(@MONOMONOSU)</a>までご連絡下さい。
                                </p>
                            </div>
                        </b-modal>
                    </b-navbar-nav>
                </b-navbar>
            </div>
        </template>

        <!-- 説明 -->
        <b-row>
            <b-col>
                <b-card bg-variant="dark" text-variant="white" title="間近の予定、プッシュ通知で知らせます。" class="m-5 text-center">
                    <b-card-text>
                        PushTimerは時間を指定するだけでPush通知してくれるWebアプリケーションです。<br>
                        使い方はguideリンクを見てね。
                    </b-card-text>
                    <b-button @click="$bvModal.show('modal-guide')" variant="primary">Go guide</b-button>
                    <b-card-text>
                        <br>
                        初めてのご利用時にはこのサイトからのpush通知を許可する必要があります。<br>
                        以下の「プッシュテスト」をクリックして、通知を許可して下さい。<br>
                        ※当アプリはPC版のGoogleChrome,Firefox,MicrosoftEdgeでご利用下さい。
                    </b-card-text>
                    <b-button id="pushtest" @click="PushTest()">プッシュテスト</b-button>
                </b-card>
            </b-col>
        </b-row>

        <a href="https://px.a8.net/svt/ejp?a8mat=3HP648+8KZZQQ+50+2HL3E9" rel="nofollow">
            <img border="0" width="468" height="60" alt=""
                src="https://www23.a8.net/svt/bgt?aid=211126328519&wid=001&eno=01&mid=s00000000018015047000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3HP648+8KZZQQ+50+2HL3E9" alt="">

        <!-- 本文 -->
        <b-card bg-variant="dark" text-variant="white" title="プッシュ内容を選択してね" class="m-5 text-center">
            <b-card-text>
                Push通知のテキスト文、何分後にお知らせするかを選択してね。<br>
                内容が決まったらsubmitボタンを押してね。
            </b-card-text>
            <!-- 入力内容 -->
            <template>
                <b-row>
                    <b-col>
                        <b-form-group label-cols-lg="1" label="タイトル：">
                            <b-form-input v-model="title" id="title" type="text"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label-cols-lg="1" label="メッセージ：">
                            <b-form-input v-model="message" id="message"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label-cols-lg="2" label="通知時間：">
                            <b-form-spinbutton v-model="input_time" min="1" max="1000">
                            </b-form-spinbutton>
                        </b-form-group>
                    </b-col>
                    <b-col>分後</b-col>
                </b-row>

                <div class="mt-2">通知タイトル：{{ title }}</div>
                <div class="mt-2">通知メッセージ：{{ message }}</div>
                <div class="mt-2">通知時間：{{ input_time }} 分後にお知らせします</div>
            </template>
            <b-button class="mt-3" variant="primary" @click="makeToast();">
                Submit!
            </b-button>
        </b-card>

        <div style="text-align:center;">
            <a href="https://px.a8.net/svt/ejp?a8mat=3HP648+9N3QGI+CO4+6BU5T" rel="nofollow">
                <img border="0" width="728" height="90" alt=""
                    src="https://www27.a8.net/svt/bgt?aid=211126328583&wid=001&eno=01&mid=s00000001642001063000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3HP648+9N3QGI+CO4+6BU5T" alt="">
        </div>
    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                title: 'タイトル',
                message: 'メッセージ',
                input_time: '',
                toastNum: 1,
                isActive: true,
            },
            methods: {
                makeToast(append = false) {
                    var this_input_time = parseInt(this.input_time);    //自信の入力分数
                    var toastNum_ = this.toastNum;                      //トースター番号
                    var title = app.title;
                    var message = app.message;
                    var isActice = this.isActice;
                    const h = this.$createElement;
                    // メッセージ
                    const msg = h(
                        'p',
                        [
                            h('p', this_input_time + " 分後にお知らせします"),
                            h('b-button', { on: { click: () => OnTest(this.$bvToast, toastNum_) } }, 'close')
                        ]
                    )
                    app.toastNum++;
                    if (isNaN(this_input_time)) {
                        return false;
                    }
                    this.$bvToast.toast([msg], {
                        id: 'toast' + toastNum_,
                        title: 'プッシュ予約' + toastNum_,
                        noAutoHide: true,
                        noCloseButton: true,
                        appendToast: append,
                    })
                    var timeLeft = this_input_time * 60;
                    const countDown = () => {
                        timeLeft--;
                        ChangeSec(toastNum_, timeLeft);
                        if (timeLeft <= 0) {
                            this.$bvToast.hide('toast' + toastNum_)
                            push(title, message);
                            clearInterval(intervalId);
                        }
                        if (isActice == false) {
                            console.log('falseになった');
                            clearInterval(intervalId);
                        }
                        // console.log(toastNum_);
                        // console.log(timeLeft);
                    }
                    var intervalId = setInterval(countDown, 1000);

                    function OnTest(toast, toastNum) {
                        toast.hide('toast' + toastNum);
                        isActice = false;
                    }
                }
            }
        })

        //残り秒数DOM操作
        function ChangeSec(toastNum, timeLeft) {
            $("#toast" + toastNum + " div p p").text("残り時間：" + timeLeft + " 秒");
        }

        //プッシュテスト
        function PushTest() {
            var message = '通知成功';
            var title = '通知テスト';
            push(title, message);
        }

        //ボタンが押された時
        function PushSubmit() {
            var message = app.message;
            var title = app.title;
            var time = parseInt(app.input_time);
            if (isNaN(time)) {
                alert('数値を入力してください');
                return false;
            }
            timeMicro = time * 60000;
            setTimeout(function () { push(title, message) }, timeMicro);
        }

        //メイン機能
        function push(title, message) {
            Push.create(title, {
                body: message,
                icon: 'image/favicon.ico',
                // timeout: 10000,
                requireInteraction: true,
                onClick: function () {
                    this.close();
                }
            });
        }

        // デバッグ
        $(function () {
            $("#submit").click(function () {
                console.log(parseInt(app.input_time));
            });
        });
    </script>
</body>

</html>